/* CSS will go here*/

#Guess1{
font-family: Impact;
  color: white;
  position: absolute;
  top: 50px;
  left: 300px;
  right: 300px;
  text-align: center;
  -webkit-text-stroke: 1px black;
}
#Guess2{
font-family: 'Times New Roman', Times, serif;
  color: white;
  position: absolute;
  top: 200px;
  left: 300px;
  right: 300px;
  text-align: center;
  -webkit-text-stroke: 1px black;
}
#Guess3{
font-family: Impact;
  color: white;
  position: absolute;
  top: 400px;
  left: 300px;
  right: 300px;
  text-align: center;
  -webkit-text-stroke: 1px black;
}
#Guess4{
font-family: 'Times New Roman', Times, serif;
  color: white;
  position: absolute;
  top: 600px;
  left: 300px;
  right: 300px;
  text-align: center;
  -webkit-text-stroke: 1px black;
}

#circle1 {
    background: lightblue;
    position: absolute;
    top: 20px;
    left: 380px;
    right: 380px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
#circle2 {
    background: lightblue;
    position: absolute;
    top: 220px;
    left: 380px;
    right: 380px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
#circle3 {
    background: lightblue;
    position: absolute;
    top: 420px;
    left: 380px;
    right: 380px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
#circle4 {
    background: lightblue;
    position: absolute;
    top: 620px;
    left: 380px;
    right: 380px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
#submit{
font-family: 'Times New Roman', Times, serif;
  color:grey;
  position: absolute;
  top: 200px;
  left: 50px;
  right: 50px;
  text-align: left;
  -webkit-text-stroke: 1px black;
}

#rules{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(255, 34, 207);
  position: absolute;
  top: 50px;
  left: 10px;
}

table, td, th {
    border: 1px solid black;
  }
table{
  display: table;
  position: absolute;
  border-collapse: collapse;
  right: 100px;
  top: 100px;
  border-spacing: 50px;
  border-color: black;
  padding: 15px;
  text-align: left;
}